// COLORS
$light-yellow: #fff2b5;
$light-green: #d8f3dc;
$dark-gray: #333;
$light-gray: #555;

// YELLOWS
$light-yellow-5: #fff9de;
$light-yellow-4: #fff4c4;
$light-yellow-1: #fff2b5;
$light-yellow-0: #fff0ab;
